.comments-container {
  border-top: none;

  label {
    display: none;
  }

  p {
    margin-bottom: 30px;
  }

  .comment-form-comment textarea {
    height: 177px;
  }

  .comment-form-comment textarea::placeholder,
  input::placeholder  {
    color: $dark-grey;
    opacity: 1;
  }

  textarea#comment, input:not(.submit) {
    width: 100%;
    background-color: $footer-middle-grey;
    border: none;
    padding: 20px;
  }

  .comment-form-url {
    display: none;
  }

  .form-submit {
    display: flex;
    margin: 0 auto;
    align-content: center;
    margin-bottom: 50px;
  }

  .submit {
    width: 25%;
    background-color: $uni-blue;
    border: none;
    padding: 20px;
    color: white;
    margin:  0 auto;

    @include mq($until:tablet) {
      width: 50%;
    }
  }

  .says {
    display: none;
  }

  .comment-author {
    img {
      height: 70px;
      width: 70px;
      border-radius: 35px;
      float: left;

      @include mq($until:tablet) {
        height: 50px;
        width: 50px;
      }
    }

    ul {
      width: 75%;

      li .comment-meta {
        a {
          float: left;
        }

        .comments-bullet {
          float: left;
          padding: 0 10px;
        }

        .reply {
          float: left;
          width: 10%;
        }
      }
    }

    li.comment > ul.children, ul.children {
      padding-left: 70px;
    }
  }
}

.comments-container {
  margin-top: 40px;
  padding-top: 40px;

  .comment-notes,
  .comment-form-author input::placeholder,
  .comment-form-email input::placeholder,
  .comment-form-comment textarea::placeholder,
  .form-submit,
  .comment-list {
    font-family: Helvetica;
    color: $light-grey;

    .comment-metadata a {
      text-decoration: none;
    }

    a {
      color: $secondry-color;
    }
  }
}

.comment {
  display: inline-block;
  div {
    max-width: 100vw;
  }
}

.comments-title, .comments-title span, .comment-reply-title {
  font-family: Georgia;
  font-weight: 300;
  color: $uni-blue;
  font-size: 25px;
  line-height: 60px;
}

.comment-form-comment {
  display: flex;
  flex-direction: column;

  textarea {
    width: 40%;
  }
}

.comment-list {
  @include mq($until:tablet) {
    padding: 0px;
  }
}

.children {
  margin: 50px 70px;
  padding: inherit !important;

  @include mq($until:tablet) {
    margin: 20px 30px;
  }
}

.comment-author ul {
  padding-top: 15px;
  margin-left: 100px;

  @include mq($until:tablet) {
    margin-left: 70px;
  }

  li:first-child cite a{
    color: $dark-grey;
    font-size: 20px;
  }

  li:last-child div a{
    color: $light-grey;
  }

  a {
    text-decoration: none;
  }
}

.comment__content {
  margin-top: 50px;
}
