//Comments styling
//Style the comment form box
.comments-container, .wpcf7-form {
  border-top: none;
  width: 800px;
  margin: 0 auto;
  @include mq ($until:tablet) {
    padding: 0 30px;
    width: 100%;
  }

  //Remove labels
  p:not(.comment-form-cookies-consent) label {
    display: none;
  }



  .comment-form-cookies-consent {
    label {
      font-size: 16px;
      line-height: 25px;
      font-family: Helvetica;
      color: #707070;
      font-weight: 300;
    }
    input {
      width: 17px !important;
      height: 17px;
      margin-right: 30px;
    }
  }


#itsec-recaptcha-opt-in p {
	font-size: 16px;
	line-height: 25px;
	font-family: Helvetica;
	color: #707070;
	font-weight: 300;
}

  //Change the placeholder values of the form
  .comment-form-comment textarea::placeholder,
  input::placeholder, .wpcf7-form textarea::placeholder {
    font-family: Helvetica;
    color: $dark-grey;
    opacity: 1;

  }

  .comment-form p {
    margin-bottom: 30px;
  }

  .comment-form-comment textarea, .wpcf7-form textarea {
    height: 177px;
  }

  textarea#comment, input:not(.submit):not(.wpcf7-submit) {
    width: 100%;
    background-color: $footer-middle-grey;
    border: none;
    padding: 20px;
    font-family: Helvetica;
  }

  .comment-form-url {
    display: none;
  }


  //Style the submit button / container
  .form-submit, .wpcf7-form p:last-child {
    display: flex;
    margin: 0 auto;
    align-content: center;
    margin-bottom: 50px;
    width: 100%;
  }

  .submit, .wpcf7-submit {
    width: 25%;
    background-color: $uni-blue;
    border: none;
    padding: 20px;
    color: white;
    margin:  0 auto;
    cursor: pointer;

    @include mq($until:tablet) {
      width: auto;
    }
  }


  //Comments section
  .says {
    display: none;
  }


  //Commenter icon
  div.comment {
    font-family: Helvetica;
    color: $main-text-grey;

    img {
      height: 70px;
      width: 70px;
      border-radius: 35px;
      float: left;

      @include mq($until:tablet) {
        height: 50px;
        width: 50px;
      }
    }

    .comment-inner {
      width: 75%;

      cite {
        width: 100%;
        float: left;
        margin-right: 100%;
      }

      .hidden {
        display: none;
      }

      .comment-meta {

        > p {
          display: inline-block;
          float: left;
          margin: 0;
        }

        p::after {
          display: inline-block;
            content: '';
            -webkit-border-radius: 50%;
            border-radius: 50%;
            height: 6px;
            width: 6px;
            margin: 5px 5px 1.5px 5px;
            background-color: $main-text-grey;
        }

        a {
          font-family: Helvetica;
          color: $main-text-grey;
        }

        .calendar-icon {
          float: left;
          margin-top: 1.5px;
        }

      }
    }

    li.comment > ul.children, ul.children {
      padding-left: 70px;
    }
  }
}

cite.fn, cite.fn a {
  font-style: normal;
  font-size: 25px;
  color: $dark-grey !important;
}

//Comment stylings
.comment-header {
  padding-top: 15px;
  margin-left: 100px;

  @include mq($until:tablet) {
    margin-left: 70px;
  }


  .comment-header cite a{
    color: $dark-grey;
    font-size: 20px;
  }

  .comment-header a{
    color: $light-grey;
  }

  a {
    text-decoration: none;
  }
}

.comments-container {
  margin-top: 40px;
  padding-top: 40px;

  .comment-notes,
  .comment-form-author input::placeholder,
  .comment-form-email input::placeholder,
  .comment-form-comment textarea::placeholder,
  .form-submit,
  .comment-list {
    font-family: Helvetica;
    color: $light-grey;
    font-weight: 300;

    .comment-metadata a {
      text-decoration: none;
    }

    a {
      color: $secondry-color;
    }
  }
}

.comment {
  div {
    max-width: 100vw;
  }
}

//Add yours comment button styling
.fleft {
  margin: 0;
}

.fright {
  margin-bottom: 80px;

  a {
    text-decoration: none;
    font-family: Georgia;
    font-weight: 300;
    color: #00325f;
  }
}

.comments-title, .comments-title span, .comment-reply-title {
  font-family: Georgia;
  font-weight: 300;
  color: $uni-blue;
  font-size: 33px;
  line-height: 60px;
}

.comment-form-comment {
  display: flex;
  flex-direction: column;

  textarea {
    width: 40%;
  }
}

//Styling the sub comments
.comment-list {
  @include mq($until:tablet) {
    padding: 0px;
  }
}

.children {
  margin: 45px 30px;
  padding: inherit !important;

  @include mq($until:tablet) {
    margin: 20px 0px;
  }
}

.comment__content {
  margin-top: 25px;
  line-height: 25px;
}
