/* ==========================================================================
   #NAVIGATION
   ========================================================================== */

.main-navigation {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.primary-menu {
  align-self: center;
  margin: 0;
}

.primary-menu li {
	float: left;
	margin: 0 10px 0 0;
	position: relative;
}

.primary-menu > li:last-child { margin-right: 10px; }

.primary-menu a {
	display: block;
	padding: 11px 15px;
	text-decoration: none;
  font-family: Helvetica;
  font-size: 13px;
  color: $dark-grey;
  font-weight: 400;
  letter-spacing: .03em;

  @include mq($until:tablet) {
    display: inline-block;
    padding: 11px 0 !important;
  }
}

.primary-menu > .menu-item-has-children > a { padding-right: 33px; position: relative; }


.primary-menu > .menu-item-has-children > a::after {
	content: "";
	display: block;
	border: 5px solid transparent;
	border-top-color: $dark-grey;
	position: absolute;
	z-index: 1001;
	right: 16px;
	top: 50%;
	margin-top: -2px;

  @include mq($until:tablet) {
    right: -20px;
  }
}

.primary-menu > li:hover{
  background: #EFEFEF;
}

.primary-menu > .has-children:hover > a::after,
.primary-menu > .menu-item-has-children:hover > a::after { border-top-color: #fff; }

/* Search */

.site-header__search--form {
  display: flex;
}

.search-container {
 align-self: center;
 width: 27px;
 display: inline;
}

.search-container button {
  border: none;
  padding: none;
}

.fa-search {
  color: $dark-grey;
  font-size: 13px;
}


/* Drop Down Styling */

.primary-menu ul {

  @include mq(tablet) {
    position: absolute;
  	padding-top: 20px;
  	margin-left: -110px;
  	z-index: 150;
  	opacity: 0;
  	top: 45px;
  	left: -9999px;

    @include vendor(transition, opacity 450ms cubic-bezier(0.645, 0.045, 0.355, 1.000), top 450ms cubic-bezier(0.645, 0.045, 0.355, 1.000) );
  }



}

.primary-menu > ul { top: 30px; }

.primary-menu ul:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	border: 10px solid transparent;
	border-bottom-color: $dark-grey;
	left: 50%;
	margin-left: -10px;

  @include mq($until:tablet) { display: none;}
}

.primary-menu > li:hover > ul {
	opacity: 1;
	top: 37px;
	left: 50%;
}

.primary-menu ul li {
	margin: 0;
	float:none;
	display: block;
}

.primary-menu ul a {
	padding: 20px;
	width: 220px;
	background: $dark-grey;
	color: #FFF;
	border-bottom: 0;
	text-align: center;
	letter-spacing: 0;
	@include font-size(13px);
	text-transform: none;
  font-weight: 400;
  letter-spacing: .03em;
}

.primary-menu ul a:hover {
	color: #FFF;
	background: $uni-blue;
}

.menu-toggle {
  visibility: hidden;
}





//
// Mobile Navigation Styles
//
  .mobile-header-control {
    display: none;
    max-width: 135%;
    @include mq($until:tablet) {
			display: flex;
      height: 50px;
      position: absolute;
      width: 100%;
      left: 0; right: 0; bottom: 0;
      background-color: #FAFAFA !important;
      z-index: 4;
		}

    li:first-child {
      align-self: center;
      padding-left: 40px;
    }
    li:last-child {
      padding-right: 40px;
    }
  }

  .main-navigation {
    @include mq($until:tablet) {
			display: none;
		}
  }

	.mobile-header-control,
	.mobile-navigation {

		@include mq($until:tablet) {
			margin-bottom: 0;
      position: absolute;
      left:0;
      background-color: #FAFAFA !important;
		}


	}

  .mobile-navigation {
    bottom: -60px;
    z-index: 3;
    top: 154px;
    height: 100vh;
  }

  .stop-scroll {
    height: 100vh;
    overflow: hidden;
  }



	.mobile-navigation .primary-menu a {
		padding-left: $mobile-side-pad;
		padding-top: $mobile-side-pad / 2;
		padding-bottom: $mobile-side-pad / 2;

    @include mq($until:tablet) { padding: 0px; }


	}

  .mobile-navigation .primary-menu .sub-menu {
    margin-left: -50px;
    background-color: $mobile-nav-grey;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s ease-out;

    a {
      width: 100%;
      display: inline-block;
      color: $dark-grey;
      background-color: $mobile-nav-grey;
      text-align: left;
      margin-left: 20px !important;
    }
    li:not(:last-child) a {
      border-bottom: 1px solid !important;
    }
    a:hover {
      background-color: #c8c5c5;
    }
  }

  .mobile-navigation .primary-menu .menu-item:hover .sub-menu {
    max-height: 900px;
    transition: max-height 0.5s ease-in;
  }

	.mobile-navigation ul.primary-menu {

    @include mq($until:tablet) {
      margin-top: 20px;
    }
	}

  .mobile-navigation .primary-menu li {
    width: 100%;
    @include mq($until:tablet) { padding-left: 45px;}
  }

  .mobile-navigation .primary-menu .current-menu-item {
   a {
    border-bottom: 2px solid $uni-blue;
  }

  .sub-menu a {
    border-bottom: none;
  }

  }


	.mobile-header-control,
	.mobile-header-control .search-toggle-menu {
		@include mq(tablet) {
		display: none;
		}
	}


	.mobile-header-control {
		@include flexbox;
		@include justify-content(space-between);


	}


	.search-toggle-menu {

	}
