.slick-slide {
  position: relative;
  height: 475px !important;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  > a {
    content: ' ';
    display: none;
  }

  .backup-slide {
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(50% 100% 90deg, #002147 0%, #012349 42.73%, #062952 67.78%, #0d3260 88.2%, #143b6c 100%);
    background: -webkit-linear-gradient(90deg, #002147 0%, #012349 42.73%, #062952 67.78%, #0d3260 88.2%, #143b6c 100%);
    background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0, #002147), color-stop(0.4273, #012349), color-stop(0.6778, #062952), color-stop(0.882, #0d3260), color-stop(1, #143b6c));
    background: -o-linear-gradient(90deg, #002147 0%, #012349 42.73%, #062952 67.78%, #0d3260 88.2%, #143b6c 100%);
    background: -ms-linear-gradient(90deg, #002147 0%, #012349 42.73%, #062952 67.78%, #0d3260 88.2%, #143b6c 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#002147', endColorstr='#143B6C' ,GradientType=0)";
    background: linear-gradient(0deg, #002147 0%, #012349 42.73%, #062952 67.78%, #0d3260 88.2%, #143b6c 100%);
      background-position-x: 0%;
      background-position-y: 0%;
      background-size: auto auto;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#143B6C',endColorstr='#002147' , GradientType=0);
    background-size: cover;
    background-position: center center;
  }

  .overlay-slide {
    z-index: 1;
    position: absolute;
    max-width: 900px;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    top: 50%;
    transform: translateY(-50%);


    * > a {
        text-decoration: none;
      }
  }

}

.slick-dots{

  > li:only-child {
    display: none;
  }

 .slick-active {
   button {
     background-color: rgba(#ffffff, 0.9);
     height: 10px;
     width: 10px;
   }
  }


}

.header-text-area {
  background-color: rgba(#ffffff, 0.8);
  padding: 15px;
  display: inline-block;
  clear: both;
  float: left;
  @include mq($until:tablet) { max-width: 100%; }
}

h2.header-text-area {
  font-family: Georgia;
  font-weight: 300;
  font-size: 39px;
  color: $uni-blue;
  margin-bottom: 20px;
  overflow-wrap: break-word;
  max-width: 50%;

  @include mq($until:tablet) {
    max-width: 100%;
    font-size: 29px;
  }
}

a.header-text-area {
  font-size: 16px;
  font-family: Helvetica;
  color: $dark-grey;
  font-weight: 300;
  border-radius: 3px;
  padding: 11px;
}

a.header-text-area:hover {
  opacity: .9;
}

h5.header-text-area {
  font-size: 16px;
  font-family: Helvetica;
  color: $dark-grey;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 11px;
}

.header-text-area time {
  font-size: 16px;
  color: $dark-grey;
}

.header-text-area .calendar-icon {
  font-size: 16px;
  color: $dark-grey;
}
