//SEARCH RESULTS PAGE STYLING

.entry-header {

  border: none;

}

.page-title {
  font-size: 1.5em;
  font-family: Helvetica;
  color: $uni-blue;
}

header.searched-header {
  padding: 0px;
  display: block;

  @include mq($until:tablet) {
    flex-wrap: nowrap;
    height: auto;
    display: inline-block;

  }


  h2.page-title__inner {

    margin-bottom: 5px;

    @include mq($until:tablet) {
      margin-top: 5px;
      width: 100%;
    }
  }
}

.icon-date {
  max-height: 20px;
}

.searched-cont {
  article {
    margin-top: 50px;
    @include mq($until:tablet) {
      padding: 0 50px;
    }
    .searched-date {
      margin-top: 12px;
      font-size: 16px;
      font-family: Helvetica;
      color: $light-grey;
      font-weight: 300;

      a {
        color: $secondry-color;
      }
    }

    .page-title__inner{
      @include mq($until:tablet) {
        font-size: 25px;
        line-height: 25px;
        margin: 0;
      }
      a {
        text-decoration: none;
        color: $uni-blue;
      }
    }

    .searched-summary {
      font-size: 20px;
      font-weight: 400;
      font-family: Helvetica;
      color: $light-grey;
      @include mq($until:tablet) {
        margin-bottom: 0;
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
      }
    }

    .searched-footer {
      font-size: 16px;
      font-family: Helvetica;
      color: $light-grey;
      font-weight: 300;

      @include mq($until:tablet) {
        margin-bottom: 0;
        font-size: 13px;
        font-weight: 300;
        line-height: 17px;
      }

      a {
        color: $secondry-color;
      }
    }
  }
}

.comments-link {
  display: none;
}
