/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

.hentry {
    /*margin: 0 0 3em;*/
}

.byline, .updated:not(.published) {
    display: none;
}

.single .byline, .group-blog .byline {
    display: inline;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}



/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.g-recaptcha div {
	margin: auto;
}

.comment-subscription-form {
	text-align: center;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0;
	@include font-size(13px);
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery-caption {
    display: block;
    text-align: left;
}
