/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/


	@include mq(desktop) {

	}

	@include mq(wide) {

	}

	@include mq(extraWide) {

	}

	/*--------------------------------------------------------------
	# Styles added by Tom
	--------------------------------------------------------------*/

header {
	border-top: 4px solid $uni-blue;
	border-bottom: 2px solid $uni-blue;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	height: auto;
	@include mq($until:tablet) {
		flex-direction: column;
		flex-wrap: wrap;
		position: relative;
		height: 135px;
	}

}

.site-branding {
	width: 500px;
	height: 100px;
	display: flex;
	float: left;
}

.logo_container {
	align-self: center;
	width: 230px;
}

.site-title_container {
	align-self: center;
	@include mq($until:tablet) {
		display: none;
	}
}

.logo {
	width: 230px;
	display: inline;
	border: none;
}

.site-title {
	font-family: Georgia;
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 0;
	width: 200px;
	line-height: 21px;
}

.site-title a {
	text-decoration: none;
	color: $uni-blue;
	font-size: 20px;
	font-weight: 300;
}
