/*--------------------------------------------------------------
# Page Elements
--------------------------------------------------------------*/

.page-title__inner {
	font-family: Georgia;
  font-weight: 300;
  color: $uni-blue;
	width: 75%;
	font-size: 40px;
	line-height: 60px;
}
