/*--------------------------------------------------------------
# Page Elements
--------------------------------------------------------------*/
.content-container, .title-container  {
	@include mq($until:tablet) {
		padding: 0 30px;
	}
}

.page-title__inner {
	font-family: Georgia;
  font-weight: 300;
  color: $uni-blue;
	//width: 75%;
	font-size: 40px;
	line-height: 60px;
}

.maximum-width-title {
	max-width: 100% !important;
}

.slick-side {
	display:block !important;
}


.site-module {

	padding: $desktop-side-pad $mobile-side-pad;

	@include mq(tablet) {
		padding: $desktop-side-pad ;
	}

}
