/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/



// Footer Top

.footer-top {
  width: 100%;
  height: 500px;
}

.footer-top:before {
  content: '';
  display: block;
  background: $footer-top-gradient;
  width: 100%;
  height: 2px;
}

.footer-top .iframe {
  width: 100%;
  height: 500px;
}

// Footer Middle

.footer-middle {
  width: 100vw;
  height: 500px;
  background-color: $footer-middle-grey;
}

// Footer Bottom

.footer-bottom {
  width: 100%;
  height: auto;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-logo_container {

}

.coppyright {
  margin-top: 47px;
  font-family: Helvetica;
  font-size: 12px;
}
