/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/

// Footer Top

.footer-top .contact_map {
  width: 100%;
  height: 500px;
  background-size: cover;
  @include mq($until:tablet) {
    height: 300px;
  }
}

//Removing all of the content from footer top
.footer-top:before {
  content: '';
  display: block;
  background: $footer-top-gradient;
  width: 100%;
  height: 2px;
}

//Map styling
.footer-top .iframe {
  width: 100%;
  height: 500px;
}

// Footer Middle

.footer-middle {
  width: 100vw;
  padding: 50px 0;
  background-color: $footer-middle-grey;

  @include mq($until:tablet) {
    padding: 10px 30px;
  }

  .row {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;

    @include mq($until:tablet) {
      flex-direction: column;
    }

    .column {
      max-width: 270px;
      padding: 20px;
      display: inline-block;
      min-height: 240px;
      align-self: auto;
      @include mq ($until:tablet) {
        padding: 20px 0;
      }

      a {
        text-decoration: none;
      }

      .social__item a {
        color: $dark-grey;
      }
    }
  }
}

.widget-container{
  margin: 0 auto;
  *:not(h2), a  {
   font-family: Helvetica !important;
   line-height: 1.5;
   color: $light-grey;
  }
}

.widget-title {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 15px;
  font-family: Georgia;
  font-weight: 300;
}

// Footer Bottom

.footer-bottom {
  width: 100%;
  height: auto;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include mq ($until:tablet) {
    flex-direction: column;
  }
}

.logo_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;

  @include mq (desktop) {
    flex-direction: row;
  }
}

.logo_container a {
  @include mq ($until:tablet) {
    margin: 0 auto;
  }
}

.credit {
  display: inline;
  font-family: Helvetica;
  font-size: 12px;
  @include mq ($until:tablet) {
    text-align: center;
    margin: 0;
    padding-top: 20px;
  }
}

.coppyright {
  display: inline-block;
  margin-top: 16px;
  float: left;
  font-family: Helvetica;
  font-size: 12px;
  @include mq(desktop) {
    align-self: flex-end;
  }
  @include mq ($until:tablet) {
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
}

.stacked {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;

  margin: 10px 20px;
  height: 43px;

  @include mq(desktop) {
    margin: 0 20px;
  }

  @include mq($until:tablet) {
    height: auto;
  }
}


.university-links{
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  @include mq($until:tablet) {
    margin-left: 0;
    flex-direction: column;
  }
  li {
    float: left;
    display: inline-block;
    margin-right: 12px;
    @include mq($until:tablet) {
      margin-right: 10px;
    }
    a {
      font-family: Helvetica;
      font-size: 12px;
      text-decoration: none;
      color: black;

    	@include hocus() {
    		  text-decoration: underline;
    	}
    }
  }
  li:not(:last-child) {
    padding-right: 12px;
    border-right: solid black 1px;
    @include mq($until:tablet) {
      border: 0px;
    }
  }
}
