/*--------------------------------------------------------------
# Page Elements
--------------------------------------------------------------*/

//Styling inner title elements
.page-title__inner {
	font-family: Georgia;
  font-weight: 300;
  color: $uni-blue;
	//width: 75%;
	font-size: 40px;
	line-height: 60px;
}

//Enforcing the full width title
.maximum-width-title {
	max-width: 100% !important;
}

//Single slide for single pages
.slick-side {
	display:block !important;
}


//Styling the entry Content
.entry-content {
	p > img //FIX THIS: DOESN'T ACTUALLY REMOVE PADDING / P TAGS FROM IMAGES //
	{
		@include mq($until:tablet) {
			width: 123%;
			margin: 0 -30px;
		}
	}

	/*
 ______________________________________________
< this really needs fixing, before being pushed >
 ----------------------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
*/

	//Reset ul, ol, li stylings
	ul {
		padding-left: 40px;
		li {
			list-style: initial !important;
		}
	}

	ol > li {
		list-style: decimal !important;
	}
}

//Style the p tags, the headings and certain divs
.entry-content {
	p, .justify, h1,h2,h3,h4,h5,h6{

		@include mq($until:tablet) {
			padding: 0 30px;
		}
	}
	h1,h2,h3,h4,h5,h6 {
	line-height: 30px;
	}
	ol, ul {
		@include mq($until:tablet) {
			padding-left: 45px;
			padding-right: 30px;
		}
	}
	font-size: 16px;
	line-height: 25px;
	font-family: Helvetica;
	color: #707070;
	font-weight: 300;

	a {
		color: #047E8B;
	}
}

.site-module {

	padding: $desktop-side-pad $mobile-side-pad;

	@include mq(tablet) {
		padding: $desktop-side-pad ;
	}

}
