/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.posted {
  margin-bottom: 0px;
}

.sticky {
    display: block;
}

.hentry {
    /*margin: 0 0 3em;*/
}

.byline, .updated:not(.published) {
    display: none;
}

.single .byline, .group-blog .byline {
    display: inline;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.search-results > .post  {
  // limits width of content
  *:not(.entry-content):not(figure):not(img) {
    padding: 0 0px !important;
  }
}

blockquote {
background: #f9f9f9;
border-left: 3px solid #ccc;
margin: 20px 10px;
padding: 15px;
display: inline-flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
max-width: 75%;
@include mq($until:tablet) {
  max-width: 100%;
}

.post {
  font-family: Helvetica !important;
  color: $light-grey;
  font-weight: 300;
  line-height: 25px;

  a {
    padding: 0px;
  }


  //quotes: "\201C""\201D""\2018""\2019";
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 40px;
    font-size: 33px;
    margin: 0 0 30px 0;

    @include mq ($until:tablet) {
      font-size: 25px;
      line-height: 32px;
    }
  }

  ul {
    padding-left: 40px;
    li {
      list-style: initial !important;
    }
  }

  ol > li {
    list-style: decimal !important;
  }

  figure {
    margin-top: 40px;
  }

  .wp-caption {
    margin-bottom: 40px;
  }


  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    margin-bottom: -35px;
  }
  blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.25em;
    margin-bottom: -35px;
  }
  blockquote p {
    margin: 0 auto;
    display: inline;
  }
}

.entry-content p,
.entry-content ul,
.entry-content li {
  @include mq ($until:tablet) {
    font-size: 13px;
    line-height: 20px;
  }
}

.wp-caption-text {
  @include mq ($until:tablet) {
    text-align: center;
    width: 100%;
  }
}




/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}

.comment-body {
  padding: 20px;
}

.bypostauthor {
    display: block;
}

.g-recaptcha div {
	margin: auto;
}

.comment-subscription-form {
	text-align: center;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0;
	@include font-size(13px);
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery-caption {
    display: block;
    text-align: left;
}
