
// Main Container

.content-container {
  width: 900px;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px; // QUERY THIS!!!
}

// Headings

.content-heading {
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 15px;
  font-family: Georgia;
  font-weight: 300;
  color: $uni-blue;
}

.fa-angle-down {
  font-size: 20px;
  margin-bottom: 2px;
  color: $uni-blue;
}

// About Home Page

.about-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.about-wrapper_text {
  order: 0;
  flex: 0 1 auto;
  align-self: flex-start;
  width: 50%;
  padding-right: 20px;
  align-self: center;
  justify-content: space-between;
}

.about-wrapper_heading {
  font-family: Georgia;
  font-weight: 300;
  font-size: 53px;
  color: $uni-blue;
}

.about-wrapper_excerpt {
  font-size: 16px;
  line-height: 25px;
  font-family: Helvetica;
  color: $light-grey;
  font-weight: 300;
  padding-bottom: 15px;
}

.about-wrapper_text h3 {
  font-size: 20px;
  font-family: Helvetica;
  color: $light-grey;
  font-weight: 400;
}

.about-wrapper_text .about-link {
  font-size: 16px;
  font-family: Helvetica;
  color: $light-grey;
  font-weight: 300;
}

.about-wrapper_text .about-link a {
  color: $highlight-blue;
}

.about-wrapper_img {
  order: 0;
  flex: 0 1 auto;
  align-self: flex-start;
  width: 50%;
  max-height: 550px;
  overflow: hidden;
}

// Extended Navigation

.extended-navigation_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  padding: 30px 10px;
}

.extended-navigation_item {
  order: 0;
  flex: 0 1 auto;
  align-self: flex-start;
  width: 33.333%;
  padding: 20px 10px;
}

.extended-navigation_link {
  font-family: Georgia;
  color: $uni-blue;
  font-size: 20px;
  text-decoration: none;
}

.extended-navigation_link .fa-angle-right {
  font-size: 15px;
  margin-left: 8px;
  margin-bottom: 1px;
}

.extended-navigation_description {
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  color: $light-grey;
  font-family: Helvetica;
  padding-top: 10px;
}

// Latest News

.news-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 50px;
}

.item-text {
  width: 260px;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.calendar-icon {
  margin-right: 10px;
  font-size: 12px;
  color: $light-grey;
}

.news-post-date {
  font-family: Helvetica;
  font-weight: 200;
  font-size: 12px;
  color: $light-grey;
}

.post-title {
  margin: 10px 0;
}

.post-title a {
  font-family: Georgia;
  font-weight: 300;
  color: $uni-blue;
  text-decoration: none;
}

.item-text .post-img {
  margin-bottom: 10px;
  max-height: 178px;
  overflow: hidden;
}

.item-text .post-img img {
  width: 100%;
}

.item-text p {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  color: $light-grey;
  font-family: Helvetica;
}

// Social Media

.social-wrapper {
  width: 100%;
  height: auto;
}

.social-text {
  width: 50%;
  font-size: 16px;
  line-height: 25px;
  font-family: Helvetica;
  color: $light-grey;
  font-weight: 300;
  float: left;
}

.social-icons .social {
  width: 50%;
  height: auto;
  padding: 0 75px;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}

.social-icons ul {
  margin-bottom: none;
}

.social-wrapper svg {
  font-size: 45px;
  color: $uni-blue;
}
