.row > div:not(:first-child):not(.group), .row .group:not(:first-child) > div{
  @include mq($until:tablet) {
    margin-top: 50px;
  }
}

.news-padding {
  padding-top: 20px;
}

.news-container {
  width: 100%;
  background-color: $footer-middle-grey;
  padding: 40px 0;
  margin: 30px 0;

  @include mq($until:tablet) {
    padding: 0;
    margin: 0;
  }
}

.news-post_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  width: 900px;
  margin: 0 auto;
  @include mq($until:tablet) {
    width: 100%;;
    flex-direction: column;
  }
}

.news-container_n {
  width: 100%;
  padding: 40px 0;
  margin: 30px 0;

  @include mq($until:tablet) {
    padding: 0;
    margin: 0;
  }
}

.news-post_wrapper_n {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  width: 900px;
  margin: 0 auto;

  @include mq($until:tablet) {
    width: 100%;
    flex-direction: column;
  }
}

.group {
  width: 900px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  @include mq($until:tablet) {
    flex-direction: column;
    width: 100%;
  }

  .news-post_wrapper_n {
    width: 100%;
  }

  .news-post_n:first-child {
    float: left;
    display: inline-block;
    flex-grow: 1;
    padding-right: 40px;
    @include mq($until:tablet) {
      padding: 0px;
    }
  }

  .news-post_n {
    width: 50%;

    @include mq($until:tablet) {
      width: 100%;
    }
  }
}


.news-post_text {
  width: 50%;
  padding-right: 40px;
  align-self: center;
  @include mq($until:tablet) {
    width: 100%;
    padding: 0 50px;
  }
}

.news-post_text_n {
  @include mq($until:tablet) {
    padding: 0 50px;
  }
}

.news-post_text h1, .news-post_text_n h1 {
  font-size: 39px;
  overflow: hidden;

  @include mq($until:tablet) {
    font-size: 25px;
    min-height: 43px;
    line-height: 25px;
    overflow: auto;
  }
}

.news-post_text_n, .news-post_text p {
  font-size: 15px;
  line-height: 25px;
  font-family: Helvetica;
  color: $light-grey;
  font-weight: 300;
  overflow: hidden;
  @include mq($until:tablet) {
    font-size: 13px;
    line-height: 17px;
  }
}

.news-post_img {
  order: 0;
  align-self: auto;
  width: 50%;
  max-height: 300px;
  overflow: hidden;
  display: flex;

  @include mq($until:tablet) {

    width: 100%;
  }
}
