/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/



// Footer Top

.footer-top {
  width: 100%;
  height: 500px;
}

.footer-top:before {
  content: '';
  display: block;
  background: $footer-top-gradient;
  width: 100%;
  height: 2px;
}

.footer-top .iframe {
  width: 100%;
  height: 500px;
}

// Footer Middle

.footer-middle {
  width: 100vw;
  padding: 50px 0;
  background-color: $footer-middle-grey;

  .row {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    .column {
      width: 270px;
      padding: 20px;
      display: inline-block;
      height: 350px;
      align-self: auto;

      a {
        text-decoration: none;
      }

      .social__item a {
        color: $dark-grey;
      }
    }
  }
}

.widget-container{
  margin: 0 auto;
  *:not(h2), a  {
   font-family: Helvetica !important;
   line-height: 1.5;
   color: $light-grey;
  }
}

.widget-title {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 15px;
  font-family: Georgia;
  font-weight: 300;
}

// Footer Bottom

.footer-bottom {
  width: 100%;
  height: auto;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-logo_container {

}

.coppyright {
  margin-top: 47px;
  font-family: Helvetica;
  font-size: 12px;
}
