/*--------------------------------------------------------------
# Page Elements
--------------------------------------------------------------*/

.page-title__inner {
	font-family: Georgia;
  font-weight: 300;
  color: $uni-blue;
	//width: 75%;
	font-size: 40px;
	line-height: 60px;
}

.maximum-width-title {
	max-width: 100% !important;
}

.slick-side {
	display:block !important;
}

.entry-content {
	p > img
	{
		@include mq($until:tablet) {
			width: 123%;
			margin: 0 -30px;
		}
	}

	ul {
		padding-left: 40px;
		li {
			list-style: initial !important;
		}
	}

	ol > li {
		list-style: decimal !important;
	}
}

.entry-content {
	p, .justify, h1,h2,h3,h4,h5,h6{

		@include mq($until:tablet) {
			padding: 0 30px;
		}
	}
	h1,h2,h3,h4,h5,h6 {
	line-height: 30px;
	}
	ol, ul {
		@include mq($until:tablet) {
			padding-left: 45px;
			padding-right: 30px;
		}
	}
	font-size: 16px;
	line-height: 25px;
	font-family: Helvetica;
	color: #707070;
	font-weight: 300;

	a {
		color: #047E8B;
	}
}

.site-module {

	padding: $desktop-side-pad $mobile-side-pad;

	@include mq(tablet) {
		padding: $desktop-side-pad ;
	}

}
